name: docker builds
on:
  push:
    paths:
    - 'Dockerfile*'
    - 'baids/**'
    - '.github/**'
  #schedule:
  #  # * is a special character in YAML so you have to quote this string
  #  - cron:  '0 */8 * * *'
  watch:
    types: [started]

jobs:
  build-n-push:
    name: Build and push docker images
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Login to Docker Registry
      run: docker login ${DOCKER_REGISTRY} --username ${DOCKER_USERNAME} --password ${DOCKER_PASSWORD}
      env:
        DOCKER_REGISTRY: docker.io
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    - name: build-n-push
      env:
        CARDANO_NODE_BUILD_BRANCH: master
        CARDANO_NODE_COMMIT: a6dc965 # overrides branch for tagging
        CARDANO_NODE_LINUX_TGZ: https://hydra.iohk.io/build/5078230/download/1/cardano-node-1.24.1-linux.tar.gz
        DOCKER_REGISTRY: docker.io
        DOCKER_IMAGE_NAME: repsistance/cardano-node
        DOCKER_IMAGE_SUFFIX: "-1.24.1-a6dc965-1"
        DOCKER_IMAGE_URI: ${DOCKER_REGISTRY}/${DOCKER_IMAGE_NAME}
        DOCKER_SRC_TARGETS: "bin-build"
        DOCKER_FINAL_TARGETS: "iohk-mn-passive iohk-mn-leader iohk-tn-passive iohk-tn-leader iohk-allegra-tn-passive iohk-allegra-tn-leader standalone-tn-passive standalone-tn-leader"
        DOCKER_PUSH_IMAGES: true
      run: |
        curl -sSL https://raw.githubusercontent.com/rcmorano/baids/master/baids | bash -s install
        ln -s $PWD/baids ~/.baids/functions.d/docker-cardano-node
        source ~/.baids/baids
        set -x
        export CARDANO_NODE_LONG_COMMIT=$(cardano-node-get-git-branch-head $CARDANO_NODE_BUILD_BRANCH)
        test -z ${CARDANO_NODE_COMMIT+x} && export CARDANO_NODE_COMMIT=${CARDANO_NODE_LONG_COMMIT:0:7}
        export CI_COMMIT_SHORT_SHA=${GITHUB_SHA:0:7}
        # FIXME: get dynamic builds from iohk's hydra
        cardano-node-docker-build
